<ion-view view-title="Sign-In" name="login-view" ng-controller="BeaconCtrl">
  <ion-content class="padding">
    <div class="list">
      <div class="item" >
        <div class="row">
          <div class="col truncate">
            {{cake}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{isAndroid}}
          </div>
          <div class="col">
            {{value.minor}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{didStartMonitoringForRegionLog}}
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
