<ion-view view-title="Public" name="dashboard-view" ng-controller="BeaconCtrl">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list">
      <div class="item" ng-repeat="(key, value) in beacons">
        <div class="row">
          <div class="col truncate">
            {{value.uuid}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            major: {{value.major}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{value.proximity}}
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
