<ion-content class="padding">
  <div class="list">
    <div class="item" >
      <div class="row">
        <div class="col truncate">
          {{didStartMonitoringForRegionLog}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{didStartMonitoringForRegionLog}}
        </div>
        <div class="col">
          {{value.minor}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{didStartMonitoringForRegionLog}}
        </div>
      </div>

    </div>
  </div>
</ion-content>
