<ion-view view-title="Test-Beacon" name="Test-view">
<ion-content class="padding">
  <div class="list">
    <div class="item" ng-repeat="(key, value) in beacons">
      <div class="row">
        <div class="col truncate">
          {{value.uuid}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          major: {{value.major}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{value.proximity}}
        </div>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>
