<ion-view title="CBC myBlood - Main Menu">
    <ion-content class="padding">
        <div class="list">
            <button class="button button-full button-assertive" ng-click="bookAppt()">Book an appointment</button>
            <button class="button button-full button-assertive" ng-click="manage()">Manage my appointments</button>
            <button class="button button-full button-assertive" ng-click="donations()">My donations/social media</button>
            <button class="button button-full button-assertive" ng-click="nurse()">Talk to a nurse</button>
        </div>
    </ion-content>
</ion-view>
