<ion-view title="CBC myBlood - Main Menu">
    <ion-content class="padding">
        <div class="list">
            <img src="BookAppointment.PNG" style="width:20%;height:20%;margin-left: 40%">
            <button class="button button-full button-assertive" ng-click="bookAppt()">Book an appointment</button>
            <img src="ManageAppointment.PNG" style="width:20%;height:20%;margin-left: 40%">
            <button class="button button-full button-assertive" ng-click="manage()">Manage my appointments</button>
            <img src="MyDonations.PNG" style="width:20%;height:20%;margin-left: 40%">
            <button class="button button-full button-assertive" ng-click="donations()">My donations/social media</button>
            <img src="TalkNurse.PNG" style="width:20%;height:20%;margin-left: 40%">
            <button class="button button-full button-assertive" ng-click="nurse()">Talk to a nurse</button>
        </div>
    </ion-content>
</ion-view>
