/* Empty. Add your own CSS if you like */
.truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.login {
  background: url(../img/blood-home-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80%;
  height: 246px;
  margin: auto;
  z-index: 2;
  position: relative;
}

.classic_red {
  color: red;
}
