/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */
.facebook-blue{
	background-color: #3B5998 !important;
	border-color: #3B5998 !important;
	color: white !important;
}

.googleplus-red{
	background-color: #dd4b39 !important;
	border-color: #dd4b39 !important;
	color: white !important;
}

.login-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efad62), color-stop(100%,#f7d47c));
    background: -webkit-linear-gradient(top, #efad62 0%,#f7d47c 100%);
}

.login-container > .header {
    -webkit-flex: 4;
    padding-top: 20px;
}
