/* Empty. Add your own CSS if you like */

.facebook-blue{
	background-color: #3B5998 !important;
	border-color: #3B5998 !important;
	color: white !important;
}

.googleplus-red{
	background-color: #dd4b39 !important;
	border-color: #dd4b39 !important;
	color: white !important;
}

.login-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
}

.login-container > .header {
    -webkit-flex: 4;
    padding-top: 20px;
}

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.RegistrationRoom {
	background-color: #8856a7 !important;
}

.ScreeningRoom {
	background-color: #99d8c9 !important;
}

.RecoveryRoom {
	background-color: #9ecae1 !important;
}


ion-content {
    margin-bottom: 50px !important;
}

.no-border {
    border: none;
}

.user {
    font-weight: bold;
}

.current-user {
    float: left;
    clear: both;
}

.not-current-user {
    float: right;
    clear: both;
}

.current-user .details {
    background-color: #72CBFF;
}

.not-current-user .details {
    background-color: #DCDCDC;
}
